<!doctype html>
<html>
    <head>
        <script src="content/babylon.2.5.js"> </script>
        <script src="content/bundle.js"> </script>
    </head>
    <body>
        <style>
            html, body
            {
                margin: 0;
                padding: 0;
                overflow: hidden;
                height: 100%;
                width: 100%;
            }
            #canvas
            {
                height: 100%;
                width: 100%;
            }
        </style>
        <canvas id="canvas"> </canvas>
    </body>
</html>