<!doctype html>
<html>
    <head>
        <script src="content/three.min.js"> </script>
        <script src="content/client/bundle.js"> </script>
    </head>
    <body>
        <style>
            html, body
            {
                margin: 0;
                padding: 0;
                overflow: hidden;
            }
        </style>
    </body>
</html>